# Normalize line endings to LF in the repository, check out as LF on all platforms.
* text=auto eol=lf

# Force binary treatment for actual binary files.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
*.zip binary
*.gz binary
